<head>
  <link rel="stylesheet" href="../bowling_card.css">
</head>
<body>
  <div id='card'>
    <div id="1">
      <input type='text' id='turn1-1' style='width: 30px;' maxlength="2">
      <input type='text' id='turn1-2' style='width: 30px;' maxlength="2">
    </div>
    <div id="2" style='visibility: hidden;'>
      <input type='text' id='turn2-1' style='width: 30px;' maxlength="2">
      <input type='text' id='turn2-2' style='width: 30px;' maxlength="2">
    </div>
    <div id="3" style='visibility: hidden;'>
      <input type='text' id='turn3-1' style='width: 30px;' maxlength="2">
      <input type='text' id='turn3-2' style='width: 30px;' maxlength="2">
    </div>
    <div id="4" style='visibility: hidden;'>
      <input type='text' id='turn4-1' style='width: 30px;' maxlength="2">
      <input type='text' id='turn4-2' style='width: 30px;' maxlength="2">
    </div>
    <div id="5" style='visibility: hidden;'>
      <input type='text' id='turn5-1' style='width: 30px;' maxlength="2">
      <input type='text' id='turn5-2' style='width: 30px;' maxlength="2">
    </div>
    <div id="6" style='visibility: hidden;'>
      <input type='text' id='turn6-1' style='width: 30px;' maxlength="2">
      <input type='text' id='turn6-2' style='width: 30px;' maxlength="2">
    </div>
    <div id="7" style='visibility: hidden;'>
      <input type='text' id='turn7-1' style='width: 30px;' maxlength="2">
      <input type='text' id='turn7-2' style='width: 30px;' maxlength="2">
    </div>
    <div id="8" style='visibility: hidden;'>
      <input type='text' id='turn8-1' style='width: 30px;' maxlength="2">
      <input type='text' id='turn8-2' style='width: 30px;' maxlength="2">
    </div>
    <div id="9" style='visibility: hidden;'>
      <input type='text' id='turn9-1' style='width: 30px;' maxlength="2">
      <input type='text' id='turn9-2' style='width: 30px;' maxlength="2">
    </div>
    <div id="10" style='visibility: hidden;'>
      <input type='text' id='turn10-1' style='width: 30px;' maxlength="2">
      <input type='text' id='turn10-2' style='width: 30px;' maxlength="2">
    </div>
    <button id='submit_turn'>Submit turn</button>
    <div id='score'></div>
  </div>
  <div id='strike'>
    <h1>STRIKE!</h1>
  </div>
  
<script type="text/javascript" src='../src/bowling_card.js'></script>
<script type="text/javascript" src='../src/interface.js'></script>
</body>